# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

38_Submmision_Template
datasets
important_features
results
*.zip

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/
.venv.bak/
env.bak/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer metadata
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Logs
*.log

# MacOS 系統自動產生
.DS_Store

# Windows 系統自動產生
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter Notebook runtime files
~$*

# dotenv
.env
.env.*

# Spyder project settings
.spyderproject
.spyproject

# VS Code Python settings
.vscode/settings.json

# Caches
__pypackages__/
